@import url("./sections/header.css");
@import url("./sections/about.css");
@import url("./sections/contact.css");
@import url("./sections/skills.css");
@import url("./sections/projects.css");
@import url("./sections/footer.css");

:root {
    --bg-color: #0e0d0d;
    --rgba-bgS: rgba(174, 172, 172, 0);
    --rgba-boxS: rgba(0, 0, 0, 0.1);
    --rgba-borderS: rgba(174, 172, 172, 0.5);
    --text-color: #fff;
    --primary-color: #db0030;
    --primary-bg: #004d98;
    --secondary-color: #a01d47;
    --grey: #3B444B;
    --xlg: 1200px;
    --lg: 992px;
    --md: 768px;
    --sm: 480px;
}

@font-face {
    font-family: 'Italiana';
    font-style: normal;
    src: url('./fonts/Italiana-Regular.ttf');
    font-family: 'RobotoSerif';
    font-style: normal;
    src: url(./fonts/RobotoSerif[GRAD\,opsz\,wdth\,wght].ttf);
}

* {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Italiana;
    color: var(--text-color);
    font-weight: 300;
}

a,
p {
    font-family: RobotoSerif;
    font-weight: bold;
}


.chip {
    display: inline-flex;
    border-radius: 1px;
    padding: 0 16px;
    background-color: var(--secondary-color);
    gap: 1%;
    color: var(--text-color);
    height: 16px;
    font-size: 10px;
    border: none;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--text-color) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

 .hr {
    width: 96vw;
}

.hr-top {
    margin-top: 1%;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 96vw;
}

.underline {
    position: relative;
    display: inline-block;
}

@media screen and (max-width:200px) {
    .about-details__header-one {
        text-align: start;
        padding-left: 1%;
    }
    .banner-details {
        flex-direction: column;
        display: flex;
    }

    .banner-socials li {
        gap: 02%;
    }

    .nav_links {
        display: block;
    }

    .header {
        width: 100%;
        min-width: 500px;
    }

    footer li {
        display: block;
    }
}


@media (min-width: 600px) and (max-width: 1080px) {
    .header {
        width: 100%;
    }

    .header .header-brand {
        margin-top: 1.3%;
    }

    .banner-socials {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .header li {
        float: left;
    }

    .menu li a {
        padding: 20px 20px;
        margin: 12px 40px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        margin-left: 5%;
    }

    .header .menu-icon {
        display: none;
    }

    .details {
        align-items: center;
        margin-left: 10px;
    }

    footer {
        display: flex;
    }

    footer li,
    a {
        display: inline-block;
    }

    .banner-details {
        width: fit-content;
    }

    .banner-socials {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .banner-details {
        width: 90vw;
    }

    .banner .banner-details {
        word-spacing: 1vw;
    }

    .banner-socials {
        display: inline-block;
        justify-content: center;
        align-items: center;

    }

}

@media only screen and (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
    }

    .menu {
        display: none;
    }

    .show_nav {
        padding-top: 2%;
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu li {
        width: 100%;
        height: 50px;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        padding: 0%;
    }

    .navbar_toggle {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 2em;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }

    .header-brand {
        width: 100%;
        justify-content: space-between;
        margin-right: 2%;
    }
    .nav_button {
        float: none;
    }

}